/*Font color*/
$base-font-size:15px;
$base-font-family:"segoe UI" ,"segoe WP","segoe Regular",sans-serif;
$base-font-color:#666666;
/*backgr colors*/
$primary-color:white;
$secondary-color:#0f9b0f;
$light-color:#e4eef2;
$dark-color:#2b5464;
$hover-color:#fffc00 ;
$fab-color:#2B32B2;
$active-color:white;
$link-footer:white;
$icon_footer:#F3F9A7;
$hover_link:#005AA7;


/* Showcase Area */

$showcase-hieght:400px;
$showcase-image:'../img/showcase.jpg';
